

ul {
  list-style: none
}

a {
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease-out;
	position: relative;
	padding: .5em;
	margin: -.5em;
    
}

a:hover { 
  color: #0AF; 
}

#resume {
  color: #00F;
  text-decoration: none;
}

.dates{
  color: #00f
}

.links1{
  color: #00f;
}

.title {
  text-decoration: underline;
}

.bg {
  background: url(Images/downtownJax.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.bgContact {
  background: url(Images/jacksonville.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/*************************** Font Colors *******************/

.indexFontColor{
  color: aliceblue
}

#goodPeople{
  color: aqua
}
/*************************** Skills diagram *******************/

.skills-diagram {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  max-width: 35em;
  margin: 2em auto 2em;
}
.skills-diagram > dd {
  /* Hide inner attributes */
  display: none;
}
.skills-diagram dt {
  display: inline-block;
  vertical-align: top;
  
  border-style: none;
  border-width: 1px;
  border-radius: 50%;
  
  -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  
  /* set defaults to skill-2 */
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.skills-diagram dt:hover {
  -webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

/* Support vertical mode */
.skills-diagram-vertical dt {
  display: block;
  /* .25em is an equivalent to inline-block's horizontal whitespace margin */
  margin: .25em auto;
}

/* Provide 10 different sizes */
.skills-diagram .skill-2 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  
  background-color: rgba(201, 155, 129, .3);
  border-color: rgba(201, 155, 129, 1);
  color: rgba(201, 155, 129, 1);
}
.skills-diagram .skill-3 {
  vertical-align: middle;
  
  width: 3em;
  height: 3em;
  line-height: 3em;
  background-color: rgba(138, 138, 140, .3);
  border-color: rgba(138, 138, 140, 1);
  color: rgba(138, 138, 140, 1);
}
.skills-diagram .skill-4 {
  width: 4em;
  height: 4em;
  line-height: 4em;
  
  background-color: rgba(234, 112, 97, .3);
  border-color: rgba(234, 112, 97, 1);
  color: rgba(234, 112, 97, 1);
}
.skills-diagram .skill-5 {
  vertical-align: bottom;

  width: 5em;
  height: 5em;
  line-height: 5em;
  background-color: rgba(109, 182, 173, .3);
  border-color: rgba(109, 182, 173, 1);
  color: rgba(109, 182, 173, 1);
}
.skills-diagram .skill-6 {
  vertical-align: top;
  
  width: 6em;
  height: 6em;
  line-height: 6em;
  
  background-color: rgba(195, 192, 100, .3);
  border-color: rgba(195, 192, 100, 1);
  color: rgba(195, 192, 100, 1);
}
.skills-diagram .skill-7 {
  width: 7em;
  height: 7em;
  line-height: 7em;
  
  background-color: rgba(214, 89, 102, .3);
  border-color: rgba(214, 89, 102, 1);
  color: rgba(214, 89, 102, 1);
}
.skills-diagram .skill-8 {
  vertical-align: bottom;
  
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: rgba(46, 138, 75, .3);
  border-color: rgba(46, 138, 75, 1);
  color: rgba(46, 138, 75, 1);
}
.skills-diagram .skill-9 {
  width: 11em;
  height: 11em;
  line-height: 11em;
  
  background-color: rgba(177, 18, 2, .3);
  border-color: rgba(177, 18, 2, 1);
  color: rgba(177, 18, 2, 1);
}
.skills-diagram .skill-10 {
  width: 14em;
  height: 14em;
  line-height: 14em;
  background-color: rgba(81, 112, 144, .3);
  border-color: rgba(81, 112, 144, 1);
  color: rgba(81, 112, 144, 1);
}

@font-face {
  font-style: normal;
  font-weight: 400;
}

/*************************** Mail Chimp *******************/

#mc_embed_signup{ 
  color: aliceblue; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
  width:100%;
}

/*************************** Accordion *******************/

.accordion {
  border: 1px solid white;
  padding: 0 10px;
  margin: 0 auto;
  list-style: none outside;
}

.accordion > * + * { border-top: 1px solid white; }

.accordion-item-hd {
  display: block;
  padding: 15px 30px 15px 0;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.accordion-item-input:checked ~ .accordion-item-bd {
  max-height: 1000px;
  padding-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}

.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.accordion-item-hd-cta {
  display: block;
  width: 30px;
  position: absolute;
  top: calc(50% - 6px );
  right: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-align: center;
  font-size: 12px;
  line-height: 1;
}

.accordion-item-bd {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
}

.accordion-item-input {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

/*************************** Block  Quote *******************/

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote :first-child{display:inline-block;}
blockquote :last-child{margin-bottom:0;}
/*************************** Center Image *******************/

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


/*************************** Clear fix *******************/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* IE6/7 support */
.clearfix {
	*zoom: 1;
}

/*************************** Modal *******************/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
